html, body {
    height: 100%;
    margin: 0;
    background-color: black;
    background-image: image-set(matrix);
}

body {
    display: flex;
    color: #00FF00;
}

header {
    display: flex;
    justify-content: center;
}

main {
    max-width: 48rem;
    margin: 0 auto;
}

.inputbox {
    display: flex;
    justify-content: center;
}

.inputbox > input, button {
    margin: 0.5rem;
}

#message {
    height: 14rem;
    overflow-y: hidden;
}
#message > p {
    word-break: break-all;
}
